<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SiteUrl" value="http://rdits-sp13-dev2/sites/edf/msh"/>
    <add key="ListName" value="Liste de Suivi"/>
    <add key="DataDirectory" value="data"/>
    <add key="Separator" value="\t"/>
    <add key="LineStart" value="$$"/>
    <add key="serializerPath" value="data\serizzz.dat" />

    <add key="Famille documentaire" value="3d44fea1-f4b7-4e8a-ba27-d37165484d02"/>
    <add key="Nature documentaire" value="baa84017-0a41-40e0-99ba-6644dda12ff7"/>
    <add key="Projet" value="a603c277-10b6-4a4c-bf79-45d0104b6df1"/>
    <add key="Site DPIH" value="2f43d616-04eb-4242-a0f5-dc28ea4eccfb"/>
    <add key="Unité" value="478cfbe9-493f-4734-ae16-8e9a36cc4dd6"/>
    <add key="Code Projet" value="8564a854-2076-433e-8bbb-f55043091035"/>
    <add key="Niveau d'études" value="54635eaa-36ec-4d95-85ed-4c7c9a3ba48b"/>
    <add key="Système élémentaire" value="83c4ef4f-108f-4df9-ac49-fd261a9ac330"/>
    <add key="Rédaction" value="c7053a3f-1c4c-4eaf-b96f-f88c8d4f6ff5"/>
    <add key="Thème" value="45c902ea-720e-44fe-a37d-fd95f0a1b8fd"/>
    <!--<add key="Opération" value="10dc61ef-5c62-486b-acd5-b1646e030d7d"/>-->
  </appSettings>
</configuration>